@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
$white: white;
$purple: #8080d7;
$purple-2: #9090dc;
$cyan: #aad9d9;
$dark-blue: #0e0e48;
$blue: blue;
@mixin font-roboto($se, $w) {
  font-family: "Roboto", sans-serif;
  font-size: $se;
  font-weight: $w;
}
@mixin font-outfit($se, $w) {
  font-family: "Outfit", sans-serif;
  font-size: $se;
  font-weight: $w;
}
body {
  background-color: #010922;
  color: $white;
}
h1 {
  @include font-outfit(20px, 900);
  span {
    color: $purple;
  }
}
.nav-link {
  @include font-roboto(20px, 400);
  color: $white;
}
h2 {
  @include font-outfit(83px, 900);
}
p {
  @include font-roboto(20px, 400);
}

img {
  width: 40%;
  height: auto;
}

.btn-light {
  background-color: $purple;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.btn-light:hover {
  background-color: $white;
}
.btn {
  @include font-outfit(20px, 600);
  padding: 10px 3rem;
  color: $white;
}
h4 {
  @include font-outfit(20px, 600);
  letter-spacing: 0.1em;
}
h3 {
  @include font-outfit(57px, 900);
  text-transform: capitalize;
}
span {
  @include font-outfit(20px, 600);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $cyan;
}
.container-pt {
  background-color: #0e0e48;
  border-radius: 20px;
}
.grid {
  margin-top: 120px;
}
.col {
  margin: 10px;
  padding-top: 90px;
  padding-bottom: 20px;
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: grayscale(100%);
    min-width: 100px;
    aspect-ratio: 1/1;
  }
  h5 {
    @include font-outfit(20px, 600);
  }
  p {
    @include font-outfit(16px, 400);
    letter-spacing: 0.1em;
    line-height: 115%;
    text-transform: uppercase;
  }
}
.gradient {
  background: $purple-2;
  background: radial-gradient(circle, $purple-2 35%, $cyan 100%);
  border-radius: 34px;
  span {
    margin-top: 60px;
    color: $dark-blue;
  }
  .btn-primary {
    @include font-outfit(20px, 600);
    text-transform: uppercase;
    width: 260px;
    background: $dark-blue;
    letter-spacing: 0.1em;
    padding: 15px 0;
    border: none;
    margin: 60px 0 30px;
  }
}
footer {
  margin-top: 135px;
  h5 {
    @include font-outfit(22px, 600);
  }
  h6 {
    @include font-outfit(16px, 600);
    text-transform: capitalize;
  }
  ul {
    margin: 1rem 0 10rem;
    li {
      @include font-roboto(16px, 400);
      line-height: 31px;
      cursor: pointer;
      transition: ease-in-out 0.3s;
    }
    li:hover {
      color: $blue;
    }
  }
  .btn-outline-secondary {
    border-color: $purple-2;
  }
  .btn-outline-secondary:hover {
    background-color: $purple-2;
    border-color: $purple-2;
  }
}
input {
  @include font-roboto(16px, 400);
}
.scroll-tracker {
  position: fixed;
  inset: 0 0 auto;
  width: 0;
  height: 0.5em;
  background-color: $cyan;
  z-index: 9999;
}
