@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@mixin font-roboto($se, $w) {
  font-family: "Roboto", sans-serif;
  font-size: $se;
  font-weight: $w;
}
@mixin font-outfit($se, $w) {
  font-family: "Outfit", sans-serif;
  font-size: $se;
  font-weight: $w;
}
body {
  background-color: #010922;
  color: white;
}
h1 {
  @include font-outfit(20px, 900);
  span {
    color: #8080d7;
  }
}
.nav-link {
  @include font-roboto(20px, 400);
  color: white;
}
h2 {
  @include font-outfit(83px, 900);
}
p {
  @include font-roboto(20px, 400);
}

img {
  width: 40%;
  height: auto;
}

.btn-light {
  background-color: #8080d7;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.btn-light:hover {
  background-color: white;
}
.btn {
  @include font-outfit(20px, 600);
  padding: 10px 3rem;
  color: white;
}
h4 {
  @include font-outfit(20px, 600);
  letter-spacing: 0.1em;
}
h3 {
  @include font-outfit(57px, 900);
  text-transform: capitalize;
}
span {
  @include font-outfit(20px, 600);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #aad9d9;
}
.container-pt {
  background-color: #0e0e48;
  border-radius: 20px;
}
.grid {
  margin-top: 120px;
}
.col {
  margin: 10px;
  padding-top: 90px;
  padding-bottom: 20px;
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: grayscale(100%);
    width: 10rem;
    aspect-ratio: 1/1;
  }
  h5 {
    @include font-outfit(20px, 600);
  }
  p {
    @include font-outfit(16px, 400);
    letter-spacing: 0.1em;
    line-height: 115%;
    text-transform: uppercase;
  }
}
.gradient {
  background: rgb(144, 144, 220);
  background: radial-gradient(
    circle,
    rgba(144, 144, 220, 1) 35%,
    rgba(170, 217, 217, 1) 100%
  );
  border-radius: 34px;
  span {
    margin-top: 60px;
    color: #0e0e48;
  }
  .btn-primary {
    @include font-outfit(20px, 600);
    text-transform: uppercase;
    width: 260px;
    background: #0e0e48;
    letter-spacing: 0.1em;
    padding: 15px 0;
    border: none;
    margin: 60px 0 30px;
  }
}
footer {
  margin-top: 135px;
  h5 {
    @include font-outfit(22px, 600);
  }
  h6 {
    @include font-outfit(16px, 600);
    text-transform: capitalize;
  }
  ul {
    margin: 1rem 0 10rem;
    li {
      @include font-roboto(16px, 400);
      line-height: 31px;
    }
  }
  .btn-outline-secondary {
    border-color: #9090dc;
  }
  .btn-outline-secondary:hover {
    background-color: #9090dc;
    border-color: #9090dc;
  }
}
input {
  @include font-roboto(16px, 400);
}
